.btn, .warning-btn {
  border-radius: 2px;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
}

.warning-btn {
  background-color: yellow;
  color: black;
}

h1 {
  font-family: Merriweather, Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-variant: small-caps;
}
